.DS_Store
node_modules/
dist/
*.docx
*.zip
*.html
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

周其军-前端笔试题目-答案/demos.js
resume.md
demos.js
.history/
# 本地测试包
.yalc/
yalc.lock