$layer-index: 10;
$border-width: 10px;
$font-family: 'Open Sans';
$blank-mode: true;
$has-value: null;
$base-padding: 1px 2px 3px 4px;
$color-map: (
  color1: red,
  color2: green,
);
$font-color: red;
