// @import 'var';
:root {
  $font-color: blue;
}

body {
  @mixin block($top, $right, $bottom: 2px, $left: 5px) {
    width: 100px;
    height: 100px;
    border: {
      width: 10px;
      color: red;
      style: solid;
    }
    padding: {
      top: $top;
      right: $right;
      bottom: $bottom;
      left: $left;
    }
  }
  .container {
    @include block(10px, 0);
    color: lightgreen;
  }
}
